.search{
    margin: 2em auto 0;
    max-width: 250px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    z-index: 1;
}
.search__input{
    border: none;
    background-color: #fff;
    border-radius: 0.5em 0  0  0.5em;
    text-align: center;
    outline: none;
}
.search__input, .search__btn {
    height: 2.5em; 
    box-sizing: border-box; 
    margin: 0;
}
.search__btn{
    border: none;
    background-color: var(--btn-primary);
    border-radius: 0 0.5em  0.5em 0;
    padding: 0.1em 0.5em;
    min-height: 2.1em;
    color: #000000;
    font-weight: bolder;
}
.message__error{
    text-align: center;
    color: #c30000;
    margin-bottom: 1em;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}