:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --body-bg: #052920;
  --text: #7cb620;
  --bg-card: #1c4240;
  --btn-primary: rgb(155, 208, 48);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: var(--body-bg);
  position: relative;
}

.particle {
  position: absolute;
  bottom: 0;
  width: 5px;
  height: 5px;
  background-color: #7cb620;
  border-radius: 50%;
  opacity: 0;
  animation: rise 5s infinite ease-in-out;
}
@keyframes rise {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translateY(-50vh) scale(1.5);
    opacity: 0.75;
  }
  100% {
    transform: translateY(-100vh) scale(2);
    opacity: 0;
  }
}
